<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Site Title -->
    <title> Periscope </title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="static/assets/logo.png">

    
    <!--Stylesheets -->
    <!-- Bulma Stylesheet -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" 
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" 
    />
    
    <!-- Manual CSS Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}" />

    <!-- Vanilla Javascript -->
    <script src="{{ url_for('static', filename='scripts/index.js') }}"> </script>
    
</head>

<body style="background-color:rgb(0, 19, 40);">

    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <!-- Brand -->
      <div class="navbar-brand">
        <img src="static/assets/logo.png" alt="" width="100" height="100"> 
        <div class="navbar-item">
          <h4>Periscope</h4>
        </div>
      </div>
      
      <div class="navbar-menu">
        <!-- Left Sidebar -->
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="/">Home</a>
          </div>
          <div class="navbar-item">
            <p>Landing</p>
          </div>
          <div class="navbar-item">
            <p>Head-to-head</p>
          </div>
        </div>
        <!-- Right Sidebar, dynamically change to profile icon if logged in later -->
        <div class="navbar-end">
          <div class="navbar-item">
            <p>Register</p>
          </div>
          <!-- Login Button -->
          <div class="navbar-item">
            <a href="/login">
              <button class="button">Login</button>
            </a>
            
          </div>
        </div>
      </div>
    </nav>

    <!-- Headliner -->
    <div class="has-text-centered pb-6">
      <h1>
        Periscope
      </h1>
      <p>
        The fun way to look at league statistics
      </p>
    </div>
    
    <!-- New Search -->
    <form action="/" method="POST">
      <div class="field has-addons has-addons-centered is-rounded">
        <div class="control">
          <span class="select">
            <select id="region" name="region" required>
              <option>NA</option>
              <option>EU</option>
              <option>SEA</option>
            </select>
          </span>
        </div>
        <div class="control">
          <input class="input" id="player" name="player" type="text" placeholder="Player#NA1">
        </div>
        <div class="control">   
          <button onclick="displaySummoner()" class="button is-link" type="submit">
            Dive In
          </button>
        </div>
      </div>
    </form>

    <!-- Results section -->
    <!-- 
    <p id="Summoner">No</p>

    {% if SummonerNameList %}
      <h4>Hello {{ SummonerNameList }}!</h4>
    {% else %}
      <h4>Hello, World!</h4>
    {% endif %}
    -->

    <!-- Summoner Name and Icon -->
    <!-- 
    <div class="container">
      <div class="notification is-danger">
        <figure class="image is-64x64">
          <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/11.14.1/img/profileicon/934.png" />
        </figure>
        <h4>Destly#NA1</h4>
        <p>Level 400</p>
        <p>Win Percentage</p>
      </div>
    </div>
    -->

    

    <!-- Basic Player Info + Fun stats -->
    <section id="top-wrapper" class="section">
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="container">
            <div class="notification is-danger">
              <figure class="image is-64x64">
                <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/11.14.1/img/profileicon/934.png" />
              </figure>
              <h4>Destly#NA1</h4>
              <p>North America</p>
              <p>Level 400</p>
              <p>Win Percentage</p>
              
              <hr>

              <div class="columns">
                <div class="column">
                  <p>Ranked Solo</p>
                  <img src="https://lolprofile.net/web/img/badges/GOLD.png" />
                  <p>Gold III</p>
                </div>
                <div class="column">
                  <p>Ranked Flex</p>
                  <img src="https://lolprofile.net/web/img/badges/GOLD.png" />
                  <p>Gold II</p>
                </div>
              </div>

              
              
              <h4>Roles</h4>
              <div class="columns">
                <div class="column">Top</div>
                <div class="column">Jungle</div>
                <div class="column">Mid</div>
                <div class="column">Bottom</div>
                <div class="column">Support</div>
              </div>


            </div>
          </div>
        </div>
        <div class="column">
          <div class="notification is-info">

            <!-- Most Played Section -->
            <p>Most Played</p>
            <div class="columns">
              
              <!-- Testing cell starts -->

              <div class="column">
                <div class="columns">
                  <div class="column is-one-quarter">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Tristana.png" />
                    </figure>
                  </div>
                  <div class="column">
                    <h4>1,000,000</h4>
                    <p>Tristana</p>
                  </div>
                </div>
              </div>

              <!-- Testing cell ends -->

              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Poppy.png" />
                </figure>
              </div>
              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Lulu.png" />
                </figure>
              </div>
            </div>
            
            <p>Recent Champions</p>
            <div class="columns">
              
              <!-- Testing cell starts -->

              <div class="column">
                <div class="columns">
                  <div class="column is-half">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Tristana.png" />
                    </figure>
                  </div>
                  <div class="column">
                    <p>2.82:1 KDA</p>
                    <p>Tristana</p>
                    <p>23 Played</p>
                  </div>
                </div>
              </div>

              <!-- Testing cell ends -->


              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Poppy.png" />
                </figure>
              </div>
              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Lulu.png" />
                </figure>
              </div>
              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Lulu.png" />
                </figure>
              </div>
              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Lulu.png" />
                </figure>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </section>

    <!-- Recently played + Match History -->
    
    

</body>

<footer class="footer mt-auto" style="background-color:rgb(12, 15, 19);">
  <div class="content has-text-centered">
    <p>
      <strong>Periscope</strong> by <a href="https://m-luis-octavo.github.io/">Luis Octavo</a>. Made with 10 cups of coffee.
    </p>
  </div>
</footer>
</html>