<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Site Title -->
    <title> Periscope </title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="static/assets/logo.png">

    
    <!--Stylesheets -->
    <!-- Bulma Stylesheet -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" 
    integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" 
    />
    
    <!-- Manual CSS Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}" />

    <!-- Vanilla Javascript -->
    <script src="{{ url_for('static', filename='scripts/index.js') }}"> </script>
    
</head>

<body style="background-color:rgb(0, 19, 40);">

    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <!-- Brand -->
      <div class="navbar-brand">
        <img src="static/assets/logo.png" alt="" width="100" height="100"> 
        <div class="navbar-item">
          <h4>Periscope</h4>
        </div>
      </div>
      
      <div class="navbar-menu">
        <!-- Left Sidebar -->
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="/">Home</a>
          </div>
          <div class="navbar-item">
            <p>Landing</p>
          </div>
          <div class="navbar-item">
            <p>Head-to-head</p>
          </div>
        </div>
        <!-- Right Sidebar, dynamically change to profile icon if logged in later -->
        <div class="navbar-end">
          <!-- Login Button -->
          <div class="navbar-item">
            <a href="/login">
              <button class="button">Login</button>
            </a>
            
          </div>
        </div>
      </div>
    </nav>

    <!-- Headliner -->
    <div class="has-text-centered pb-6">
      <h1>
        Periscope
      </h1>
      <p>
        The fun way to look at league statistics
      </p>
    </div>
    
    <!-- New Search -->
    <form action="/" method="POST">
      <div class="field has-addons has-addons-centered is-rounded">
        <div class="control">
          <span class="select">
            <select id="region" name="region" required>
              <option>NA</option>
              <option>EU</option>
              <option>SEA</option>
            </select>
          </span>
        </div>
        <div class="control">
          <input class="input" id="player" name="player" type="text" placeholder="Player#NA1">
        </div>
        <div class="control">   
          <button onclick="displaySummoner()" class="button is-link" type="submit">
            Dive In
          </button>
        </div>
      </div>
    </form>

    <!-- Results section -->
    <!-- 
    <p id="Summoner">No</p>

    {% if SummonerNameList %}
      <h4>Hello {{ SummonerNameList }}!</h4>
    {% else %}
      <h4>Hello, World!</h4>
    {% endif %}
    -->

    <!-- Summoner Name and Icon -->
    <!-- 
    <div class="container">
      <div class="notification is-danger">
        <figure class="image is-64x64">
          <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/11.14.1/img/profileicon/934.png" />
        </figure>
        <h4>Destly#NA1</h4>
        <p>Level 400</p>
        <p>Win Percentage</p>
      </div>
    </div>
    -->

    

    <!-- Basic Player Info + Fun stats -->
    <section id="top-wrapper" class="section">
      <div class="columns">

        <!-- Left Container -->

        <div class="column is-one-quarter">
          <div class="container">
            <div class="notification is-danger">

              <!-- Player Icon -->
              {% if SummonerInfo %}
                <figure class="image is-64x64">
                  <img class="is-rounded" src="{{ SummonerInfo[2] }}" />
                </figure>
              {% else %}
                <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
              {% endif %}
              <!-- Player Name -->
              {% if SummonerInfo %}
                <h4>{{ SummonerInfo[0] }}</h4>
              {% else %}
                <progress id="progress-big" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
              {% endif %}
              <!-- Region -->
              <p>North America</p>
              <!-- Player Level -->
              {% if SummonerInfo %}
                <p>Level {{ SummonerInfo[1] }}</p>
              {% else %}
                <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
              {% endif %}

              <hr>

              <div class="columns">
                <div class="column">
                  <p>Ranked Solo</p>
                  <img src="https://lolprofile.net/web/img/badges/GOLD.png" />
                  <p>Gold III</p>
                  <p>Win Percentage</p>
                  <p> 10W 5L | 66%</p>
                </div>
                <div class="column">
                  <p>Ranked Flex</p>
                  <img src="https://lolprofile.net/web/img/badges/GOLD.png" />
                  <p>Gold II</p>
                  <p>Win Percentage</p>
                  <p> 10W 5L | 66%</p>
                </div>
              </div>

              
              
              <h4>Roles</h4>
              <div class="columns">
                <div class="column">Top</div>
                <div class="column">Jungle</div>
                <div class="column">Mid</div>
                <div class="column">Bottom</div>
                <div class="column">Support</div>
              </div>


            </div>
          </div>
        </div>

        <!-- Right Container -->
        <div class="column">

          <!-- Green Quadrant Starts Here -->
          <div class="notification is-info">
            <!-- Most Played Section -->
            <p>Most Played</p>
            <div class="columns">
              <div class="column">
                <div class="columns">
                  <div class="column is-one-quarter">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Tristana.png" />
                    </figure>
                  </div>
                  <div class="column">
                    <!-- Mastery Top 1 Points -->
                    {% if SummonerInfo %}
                      <h4>{{ SummonerInfo[4][0] }} pts</h4>
                    {% else %}
                      <progress id="progress-big" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                    {% endif %}

                    {% if SummonerInfo %}
                      <p>{{ SummonerInfo[3][0] }}</p>
                    {% else %}
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                    {% endif %}  
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="columns">
                  <div class="column is-one-quarter">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Tristana.png" />
                    </figure>
                  </div>
                  <div class="column">
                    <!-- Mastery Top 2 Points -->
                    {% if SummonerInfo %}
                      <h4>{{ SummonerInfo[4][1] }} pts</h4>
                    {% else %}
                      <progress id="progress-big" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                    {% endif %}

                    {% if SummonerInfo %}
                      <p>{{ SummonerInfo[3][1] }}</p>
                    {% else %}
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                    {% endif %}  
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="columns">
                  <div class="column is-one-quarter">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Tristana.png" />
                    </figure>
                  </div>
                  <div class="column">
                    <!-- Mastery Top 3 Points -->
                    {% if SummonerInfo %}
                      <h4>{{ SummonerInfo[4][2] }} pts</h4>
                    {% else %}
                      <progress id="progress-big" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                    {% endif %}

                    {% if SummonerInfo %}
                      <p>{{ SummonerInfo[3][2] }}</p>
                    {% else %}
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                    {% endif %}  
                  </div>
                </div>
              </div>
            </div>
            
            <p>Recent Champions</p>
            <div class="columns">
              
              <!-- Testing cell starts -->

              <div class="column">
                <div class="columns">
                  <div class="column is-half">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Tristana.png" />
                    </figure>
                  </div>
                  <div class="column">
                    <p>2.82:1 KDA</p>
                    <p>Tristana</p>
                    <p>23 Played</p>
                  </div>
                </div>
              </div>

              <!-- Testing cell ends -->


              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Poppy.png" />
                </figure>
              </div>
              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Lulu.png" />
                </figure>
              </div>
              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Vex.png" />
                </figure>
              </div>
              <div class="column">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Rumble.png" />
                </figure>
              </div>
            </div>
          
          </div>
          <!-- Blue Quadrant Ends Here -->

          <!-- Last Match Insights -->
          <div class="notification is-link">
            <div class="level-left">
              <p> Last Match Insights </p>
              <br>
              <button style="margin-left: 20px;" class="button is-warning is-static">Beta</button>
            </div>
          </div>

          <!-- Green Quadrant Starts Here -->
          <!-- Match History -->
          <div class="notification is-primary">
            <p> Match History </p>

            <div class="columns">
              <div class="column">
                Ranked Solo<br>Time<br>Length<br>Outcome
              </div>

              <div class="column is-one-fifth">
                
                <div class="columns">
                  <div class="column is-centered">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/Lulu.png" />
                    </figure>
    
                    
                  </div>
                  <div class="column">
                    <figure class="image is-32x32">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_flash.png" />
                    </figure>
                    <figure class="image is-32x32">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                </div>
                
                <div class="level has-text-centered">
                  <p>Yey</p>
                </div>

              </div>


              <div class="column">
                <p>5/8/29</p>
                <p>4.25:1 KDA</p>
                <p>6CS/M</p>
                <p>PScore: 8.4</p>

              </div>

              <div class="column">
                <p>Positive Trait</p>
                <p>Positive Trait</p>
                <p>Neutral Trait</p>
                <p>Negative Trait</p>

              </div>

              <!-- Blue Side Player List -->
              <div class="column">
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[0][0] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[0][1] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[0][2] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[0][3] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[0][4] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
              </div>

              <!-- Red Side Player List -->
              <div class="column">           
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[2][0] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[2][1] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[2][2] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[2][3] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
                <div class="level-left">
                  <div class="level-item">
                    <figure class="image is-16x16">
                      <img class="is-rounded" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/summoner_smite.png" />
                    </figure>
                  </div>
                  <div class="level-item">
                    {% if MatchInfo %}
                      <p>{{ MatchInfo[2][4] }}</p>
                    {% else %}
                      <!-- 
                      <progress id="progress-small" class="progress is-small is-info" max="100" style="margin-top: 20px;">15%</progress>
                      -->
                    {% endif %}
                  </div>
                </div>
                
              </div>


            </div>
          </div>

        </div>
      </div>
    </section>

    
    
    

</body>

<footer class="footer mt-auto" style="background-color:rgb(12, 15, 19);">
  <div class="content has-text-centered">
    <p>
      <strong>Periscope</strong> by <a href="https://m-luis-octavo.github.io/">Luis Octavo</a>. Made with 10 cups of coffee.
    </p>
  </div>
</footer>
</html>